@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

/* Ẩn icon con mắt do Google thêm khi nhập mật khẩu*/
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-textfield-decoration-container {
    display: none !important;
}


/* Ẩn màu autofill của google */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.08) inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
    caret-color: white;
}


html,
body,
#root {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;


}